div.custom-select-con 
{
    height: 4rem;
    width: 18rem;
    border: .2rem solid rgba(0, 0, 0, .25);
    border-radius: 1rem;
    position: relative;
}

div.custom-select-con::after
{
    content: "";
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 2rem solid rgba(0, 0, 0, .25);
}

div.custom-select-con:hover::after
{
    border-top: 2rem solid black;
}

div.custom-select-con.-active::after
{
    border-top: none;
    border-bottom: 2rem solid black;
}

div.custom-select-con:hover
{
    border: .2rem solid black;
    cursor: pointer;
}

div.select-list-con.-active div.select-item::after, div.selected-value::after
{
    content: attr( data-display-text );
}

div.selected-value::after
{
    display: block;
    display: flex;
    align-items: center;
    font-size: 2rem;
    height: 4rem;
    padding: 0 1rem;
}

div.select-list-con
{
    position: absolute;
    top: 4rem;
    left: .65rem;
    z-index: 9999;
}

div.select-list-con.-active
{
    background-color: white;
    border: .2rem solid rgba(0, 0, 0, 1);
    border-radius: .5rem;
}

div.select-list-con.-active div.select-item 
{
    height: 2.5rem;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.select-list-con.-active div.select-item:after
{
    font-size: 1.75rem;
    position: absolute;
}

div.select-list-con.-active div.select-item:hover
{
    background-color: rgba(0, 0, 0, .55);
    color: white;
}