div.header-sections-con.logged-hsects-con {
    justify-content: flex-end;
    width: 100%;
    position: relative;
}

div.-profile-panel-btn-con, div.home-icon-con {
    align-items: center;
    padding: 0 1rem 0 1rem;
}

div.-profile-panel-btn, div.home-icon-btn {
    position: relative;
    height: 4rem;
    width: 4rem;
    border: .25rem solid rgba(0, 0, 0, .25);
    background-color: seagreen;
    border-radius: 5rem;
}

div.-profile-panel-btn-con.-open-btn > div::before, 
div.-profile-panel-btn-con.-open-btn > div::after {
    background-color: slateblue;
}

div.-profile-panel-btn-con.-open-btn > div {
    background-color: slategray;
}

div.-profile-panel-btn::before, 
div.-profile-panel-btn::after, 
div.home-icon-btn::before,
div.home-icon-btn::after {
    content: "";
    position: absolute;
}

div.home-icon-btn::before {
    right: calc(50% - 1.3rem);
    top: 55%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 1.5rem;
    width: 2.5rem;
    background-color: skyblue;
}

div.home-icon-btn::after {
    height: 0;
    top: 6%;
    right: .2rem;
    border-bottom: 1.5rem solid skyblue;
    border-right: 1.6rem solid transparent;
    border-left: 1.6rem solid transparent;
}

div.-profile-panel-btn::before {
    right: calc(50% - .6rem);
    top: 5%;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 2rem;
    background-color: skyblue;
}

div.-profile-panel-btn::after {
    right: calc(50% - .75rem);
    top: 45%;
    height: 2rem;
    width: 1.5rem;
    background-color: skyblue;
    border-radius: 2rem;
}

nav.-logged-nav {
    position: absolute;
    background-color: seagreen;
    top: 6rem;
    right: 0;
    font-size: 1.5rem;
    padding: 0 1rem;
    width: 11rem;
    height: 8rem;
}

nav.-logged-nav.-close {
    visibility: hidden;
}

nav.-logged-nav.-open {
    height: 14rem;
    transition: all .1s ease-out;
}

nav.-logged-nav > ul.header-nav-list {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}