header {
    height: 6rem;
    background-color: rgba(0, 0, 0, .2);
}

div.header-icon-con {
    align-items: center;
    font-size: 1.5rem;
    padding: 0 1rem;
}

div.header-sections-con {
    background-color: rosybrown;
    flex: 1;
}