div.sales-graph-con 
{
    height: 50rem;
    width: 100%;
    overflow-y: hidden;
    overflow-x: visible;
    position: relative;
}

div.sales-graph-con > div:first-child 
{
    width: 100%;
    padding: .5rem;
    padding-right: 1rem;
    min-width: 183.5rem;
}

div.sales-graph-control 
{
    position: fixed;
    margin-top: 2.5rem;
    padding: 0 .5rem;
}

div.sales-graph-days, div.sales-graph-which-display
{
    font-size: 1.75rem;
}

div.sales-graph-days > div, div.sales-graph-which-display > div
{
    margin-left: 2rem;
}

@media only screen and ( max-width: 540px )
{
    div.sales-graph-con 
    {
        height: 55rem;
    }
    div.sales-graph-control
    {
        display: flex;
        flex-direction: column;
    }
}