aside.aside-nav-con {
    background-color: slategray;
    height: 4rem;
    font-size: 2rem;
    justify-content: center;
}

nav.aside-nav
{
    width: 1600px;
}

aside.aside-nav-con > nav.aside-nav, aside.aside-nav-con ul {
    height: 100%;
}

aside.aside-nav-con ul {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

@media only screen and ( max-width: 650px ) {
    aside.aside-nav-con {
        font-size: 1.5rem;
    }

    aside.aside-nav-con ul {
        padding: 0 2.5rem;
    }
}